@page
@model CurriculumModel
@{

    Layout = "_NhLayout";
}

    <!-- START SECTION EVENTS-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="event_list">
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <div class="event_img">
                                <img src="assets/images/CollegePrep.jpg" alt="event_img1">                              
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">College Prep and its Components</a></h5>
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegePrepCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Curriculum</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CampusScavengerHunt.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Campus Scavenger Hunt</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegeKnowledgeBingo.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">College Knowledge Bingo</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegeMatchActivity.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">College Match Activity</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CampusVisitChecklist.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Campus Visit Checklist</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegePrepWebsiteAndResources.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">College Prep Website Resources</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegePreparatoryChecklist.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">College Preparatory Checklist</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/ValueOfEducationWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Value of Education Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/Activitiesuggestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Activities Suggestion</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/JobMatchWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Job Match Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/ReadyToUseActivities.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Ready to use Activities</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/ConversationStartersAndTips.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Converstion Starter and Tips</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/QuestionGuideforMentors.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Question Guide for Mentors</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <div class="event_img">
                                <img src="assets/images/wellness2.png" alt="event_img2">                  
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">Wellness and its Components</a></h5> 
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/Pre-ProgranStudentQuestionare.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Pre-Program Student Questionare</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/Post-Program-Student-Questionnaire.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Post-Program Student Questionnaire</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthAboutMarijuana.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Truth about Marijuana</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/GenericDrugAssignmentWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Lesson 3 Assignment</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/AdditionaProjectActivities.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Generic Drug Assignment Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/Lesson3Assignment.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Additional Project Activities</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/GlossaryofRelatedTerms.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Glossary of Related Terms</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthaboutInhalants.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Truth about Inhalants</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthaboutCocaine.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Truth about Cocoain</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthaboutAlcohol.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Truth about Alcohol</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/NHIWellnessDocument.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">NHI Wellness Document</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <div class="event_img">
                                <img src="assets/images/FinancialLiteracy.jpg" alt="event_img3">                              
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">Financial literacy curriculum</a></h5>                      
                                @*<div class="event_desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>*@
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/CompoundInterest&TimeValueofMoneyAnswerKey.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Interest and Time Value of Money</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/Compound_Interestworksheets.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Compound Interest Worksheet</a>
                                    </div>
                                    @*<div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracy-discussionquestion1.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Discussion Question</a>
                                    </div>*@
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracy-quiz1.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Quiz</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracyCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Curriculum</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracywordgames.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Word Games</a>
                                    </div>
                                    @*<div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/financial_literacy_discussionQuestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Discussion Questions</a>
                                    </div>*@                                  
                                </div>
                            </div>
                        </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <div class="event_img">
                                <img src="assets/images/Employment.jpg" alt="event_img4">                               
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">Employment Curriculum</a></h5>                               
                                @*<div class="event_desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>*@ 
                            <div class="row">
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/EmploymentCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Employment Curriculum</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Areyouaprofessional.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Are You A Professional</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/BeingonTimeChecklist.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Being on Time Checklist</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Budgetingmyvalueskey.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Budgeting My Values Key</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Budgetingmyvalues.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Budgeting My Values</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/CareerPreparationWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Career Preparation Worksheet</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/CreatingandElevatorSpeech.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Creating and Elevator Speech</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/DecisionmakingDrSeuss.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Decision Making -Dr. Seuss</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Decisionmaking.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Decision making</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/DevelopingGoodWorkingRelationships.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Developing Good Working Relationships</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/EducationWheredoIGo.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Education Where do I Go</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Employmentrolepalyactivities.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Employment Role Play Activities</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Everydaythings.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Everyday Things</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/ExploringmyValues.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Exploring My Values</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/GivingFeedbackDosandDonts.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Giving Feedback Dos and Don'ts</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Iamwrittenworksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">I am Written Worksheet</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/icebreaker.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Ice Breaker</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Identifyingpossiblecareerforyou.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Identifying Possible Career For You</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Identifyingyourindividualskills.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Identifying your individual skills</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Identitydiscussionquestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Identity Discussion Questions</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/InformationalInterviewquestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Informational Interview Questions</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/InterestInventory.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Interest Inventory</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/InternshipProblemResolutions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Internship Problem Resolutions</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/NonVerbalCommunication.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Non Verbal Communication</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Nonverbalcommunicationdiscussion.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Nonverbal Communication Discussion</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/OccupationChart.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Occupation Chart</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/openingquestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Opening Questions</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Overcomingobstacles.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Overcoming Obstacles</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/personalitytest.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Personality Test</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/PositivebehaviorExercise.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Positive Behavior Exercise</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/personalitytest.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Positive Quotes About Self</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Positivequotesaboutself.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Positive Quotes About Self</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Positivelysupportyourselfthroughyourwords.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Positively Support Yourself Through Your Words</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Possible-breakingoutofthebox.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Possible- Breaking Out-of-the-box</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Questionstoimprovecommunication.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Questions To Improve Communication</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Self-MotivationWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Self-Motivation Worksheet</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Short-termgoalworksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Short-term Goal Worksheet</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/SuccessActivity.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Success Activity</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/SuccessStrategiesQuotes.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Success Strategies Quotes</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/TakingInitiative.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Taking Initiative</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Teamplayersurvey.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Team Player Survey</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/TenstepstoSuccess.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Ten Steps To Success</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/Triggersandpositiveresponses.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Triggers And Positive Responses</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/VerbalCommunication.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Verbal Communication</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/VocationalPersonalityAssessment.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Vocational Personality Assessment</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/vocationalPersonalityTypes.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">Vocational Personality Types</a>
                                </div>
                                <div class=" col-6">
                                    <a href="~/assets/DownloadableDocs/Employment/WhatisInternship.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#5ebb47'" onMouseOut="this.style.color='#3399ff'">What is Internship</a>
                                </div>
                               
                            </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-12 mt-2 mt-md-3">
                    <ul class="pagination pagination_style1 justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="linearicons-arrow-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
    <!-- END SECTION EVENTS-->
    