@page
@model CurriculumModel
@{

    Layout = "_NhLayout";
}

    <!-- START SECTION EVENTS-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="event_list">
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <div class="event_img">
                                <img src="assets/images/CollegePrep.jpg" alt="event_img1">                              
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">College Prep and its Components</a></h5>
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegePrepCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Curriculum</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CampusScavengerHunt.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Campus Scavenger Hunt</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegeKnowledgeBingo.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">College Knowledge Bingo</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegeMatchActivity.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">College Match Activity</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CampusVisitChecklist.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Campus Visit Checklist</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegePrepWebsiteAndResources.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">College Prep Website Resources</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/CollegePreparatoryChecklist.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">College Preparatory Checklist</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/ValueOfEducationWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Value of Education Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/Activitiesuggestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Activities Suggestion</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/JobMatchWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Job Match Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/ReadyToUseActivities.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Ready to use Activities</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/ConversationStartersAndTips.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Converstion Starter and Tips</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/CollegePrep/QuestionGuideforMentors.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Question Guide for Mentors</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <div class="event_img">
                                <img src="assets/images/wellness2.png" alt="event_img2">                  
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">Wellness and its Components</a></h5> 
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/Pre-ProgranStudentQuestionare.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Pre-Program Student Questionare</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/Post-Program-Student-Questionnaire.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Post-Program Student Questionnaire</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthAboutMarijuana.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Truth about Marijuana</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/GenericDrugAssignmentWorksheet.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Lesson 3 Assignment</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/AdditionaProjectActivities.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Generic Drug Assignment Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/Lesson3Assignment.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Additional Project Activities</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/GlossaryofRelatedTerms.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Glossary of Related Terms</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthaboutInhalants.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Truth about Inhalants</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthaboutCocaine.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Truth about Cocoain</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/TruthaboutAlcohol.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Truth about Alcohol</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Wellness/NHIWellnessDocument.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">NHI Wellness Document</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <div class="event_img">
                                <img src="assets/images/FinancialLiteracy.jpg" alt="event_img3">                              
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">Financial literacy curriculum</a></h5>                      
                                <div class="event_desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/CompoundInterest&TimeValueofMoneyAnswerKey.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Interest and Time Value of Money</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/Compound_Interestworksheets.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Compound Interest Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracy-discussionquestion1.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Discussion Question</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracy-quiz1.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Quiz</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracyCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Curriculum</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracywordgames.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Word Games</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/financial_literacy_discussionQuestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Discussion Questions</a>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <div class="event_img">
                                <img src="assets/images/Employment.jpg" alt="event_img4">                               
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">Employment Curriculum</a></h5>                               
                                <div class="event_desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div> 
                                <div class="row">
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Employment/EmploymentCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Curriculum</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/Compound_Interestworksheets.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Compound Interest Worksheet</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracy-discussionquestion1.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Discussion Question</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracy-quiz1.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Quiz</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracyCurriculum.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Curriculum</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/FinancialLiteracywordgames.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Financial Literacy Word Games</a>
                                    </div>
                                    <div class=" col-6">
                                        <a href="~/assets/DownloadableDocs/Financial/financial_literacy_discussionQuestions.pdf" target="_blank" style="color:#3399ff; text-decoration: underline;" onmouseover="this.style.color='#FEBC34'" onMouseOut="this.style.color='#3399ff'">Discussion Questions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <div class="event_img">
                                <img src="assets/images/event_img5.jpg" alt="event_img5">
                                <div class="event_dt radius_all_5">
                                    <h5><span>May, 16</span> 2020 </h5>
                                </div>
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">New Sessions For Graphics Design Interface</a></h5>
                                <ul class="event_meta">
                                    <li><i class="ti-time"></i><span>09:00 AM</span></li>
                                    <li><i class="ti-location-pin"></i><span>New York City</span></li>
                                </ul>
                                <div class="event_desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                                <div class="event_btn">
                                    <a href="#" class="btn btn-default">Join Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="event_box box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <div class="event_img">
                                <img src="assets/images/event_img6.jpg" alt="event_img6">
                                <div class="event_dt radius_all_5">
                                    <h5><span>May, 16</span> 2020 </h5>
                                </div>
                            </div>
                            <div class="event_info">
                                <h5 class="event_title"><a href="#">New Sessions For Graphics Design Interface</a></h5>
                                <ul class="event_meta">
                                    <li><i class="ti-time"></i><span>09:00 AM</span></li>
                                    <li><i class="ti-location-pin"></i><span>New York City</span></li>
                                </ul>
                                <div class="event_desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                                <div class="event_btn">
                                    <a href="#" class="btn btn-default">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2 mt-md-3">
                    <ul class="pagination pagination_style1 justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="linearicons-arrow-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION EVENTS-->
    