@page
@model NourishingHands.Pages.DonationConfirmedModel
@{
    Layout = "_NhLayout";
}

<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="heading_s1">
                    <h4 class="card-title mt-3 text-center">Thank you for your donation!</h4>
                    <br />
                    <div class="alert alert-success" role="alert">
                        <strong>Thank you</strong> for your generous gift to Nourishing Hands Inc. We are thrilled to have your support. You truly make the difference for us, and we are extremely grateful!
                    </div>
                </div> 
                
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>
