@page
@model NourishingHands.Pages.DonationModel
@{
    Layout = "_NhLayout";
}

<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">



                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-12 ">

                        <ul class="nav md-pills nav-justified pills-rounded pills-purple-gradient">
                            <li class="nav-item active">
                                <a class="nav-link btn btn-default" data-toggle="tab" href="#panel100" role="tab">Donor<br />Any Amount</a>
                            </li>
                            <p>&nbsp</p>
                            <li class="nav-item active">
                                <a class="nav-link btn btn-default btn btn-default" data-toggle="tab" href="#panel101" role="tab">Adoption Donor<br />$3,000 annually</a>
                            </li>
                            <p>&nbsp</p>
                            <li class="nav-item">
                                <a class="nav-link btn btn-default" data-toggle="tab" href="#panel102" role="tab">All Seasons Sponsors<br />$5,000 +</a>
                            </li>
                            <p>&nbsp</p>
                            <li class="nav-item">
                                <a class="nav-link btn btn-default" data-toggle="tab" href="#panel103" role="tab">Event Sponsorship<br />Between $200 and $3,000</a>
                            </li>
                        </ul>

                        <!-- Tab panels -->
                        <div class="tab-content">

                            <!--Panel 1-->
                            <div class="tab-pane fade in show active" id="panel100" role="tabpanel">

                                <p>
                                    Donors are individuals who make financial contributions to Nourishing Hands Inc. on a monthly or one-time basis. 
                                    Donors can select to give to one a fundraiser or a specific program, or to our general operations.
                                </p>

                            </div>
                            <!--/.Panel 1-->
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel101" role="tabpanel">
                                <p>
                                    Adoption donors are individuals who support one teen in the program for an entire year by contributing one time 
                                    amount $3,000 annually, which is the cost per teen in our program.
                                </p> 
                                <b>Benefits of this level of support includes:</b>
                                    <ul style="padding-left:40px">                                       
                                        <li>A deeper connection with our organization</li>
                                        <li>The opportunity to help Nourishing Hands Inc. extend our reach</li>
                                        <li>The knowledge that your contribution is directly supporting teens who need it most in our community</li>
                                    </ul>
                            </div>
                            <!--/.Panel 2-->
                            <!--Panel 3-->
                            <div class="tab-pane fade" id="panel102" role="tabpanel">

                                <p>
                                    Nourishing Hands Inc. Sponsorship opportunities are geared toward businesses and corporations who share our
                                    mission in uplifting underserved teens while significantly expanding their presence and exposure in the State of Georgia.
                                    Through a variety of event sponsorship opportunities, Nourishing Hands Inc. hopes to target
                                    audiences from various types of business in the county, the State of Georgia, and beyond. Whether your company
                                    would benefit from exposure with participants at our community events and school-wide activities, or from being
                                    involved in our leadership giving events, we invite your effort in helping teens to DREAM of a better future.
                                </p>
                              
                                <b>Our sponsors play a major role in our events, and enjoy the following benefits:</b>                               
                                    <ul style="padding-left:40px" >
                                        <li>
                                            A prominent presence at our events, tokens of appreciation, opportunities to display promotional materials,
                                            and verbal acknowledgement of your company throughout the event
                                        </li>
                                        <li>
                                            Extensive promotion of your sponsorship on all our marketing materials, including posters, brochures, t-shirts,
                                            newsletters, and social media
                                        </li>

                                    </ul>                                
                                <br />
                                <b>All Seasons Sponsors</b>
                                <p>
                                    All Seasons Sponsors offer sustaining support for our organization, and are an integral part of our community
                                    engagement. These mission sponsors may request a presence at all of our events throughout the year, and are featured
                                    on our marketing materials. These sponsorship investments range between $5,000 and caps at the sponsor’s desired
                                    investment.
                                </p>

                            </div>
                            <!--/.Panel 3-->
                            <!--Panel 4-->
                            <div class="tab-pane fade" id="panel103" role="tabpanel">

                                <p>
                                    Event Sponsorships are for companies who want to be involved in specific events. We promote our sponsors leading 
                                    up to the event and significantly during the event. These sponsorship investments range between $200 and $3,000.
                                </p>
                                <p>
                                    In addition to promotional benefits, our sponsors enjoy a uniquely close relationship to our mission. We share 
                                    stories of our impact on our participants and their communities with our sponsors, to keep them informed on our 
                                    work. We also ask our sponsor companies to provide caring and responsible adults to volunteer for our program, 
                                    by working to offer their employees flexibility to volunteer.
                                </p>

                            </div>
                            <!--/.Panel 4-->

                        </div>

                    </div>


                </div>





                <div class="heading_s1">
                    <h4 class="card-title mt-3 text-center">Make a donation with Stripe</h4>
                    <br />
                    <div class="alert alert-success" role="alert">
                        <strong>Please Note:</strong> We don't have access to your credit/debit card information at anytime. Donation payments are processed by <strong>Stripe</strong>, a secured payment processing platform. Click <a href="https://stripe.com/docs/security/stripe" target="_blank" style="color:red">here</a> to read more about <strong>Security at Stripe</strong>.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="medium_divider"></div>
                    </div>
                </div>
                <form method="post" class="row needs-validation" novalidate>

                    <div class="form-group col-md-6 row">
                        <label asp-for="Donation.FirstName" class="col-form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Donation.FirstName" id="firstName" class="form-control record" type="text" data-type="record" required>
                            <div class="invalid-tooltip">
                                First Name can not be empty.
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label asp-for="Donation.LastName" class="col-form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Donation.LastName" id="lastName" class="form-control record" type="text" data-type="record" required>
                            <div class="invalid-tooltip">
                                Last Name can not be empty.
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label asp-for="Donation.Email" class="col-form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Donation.Email" id="email" class="form-control record" data-type="record" required>
                            <div class="invalid-tooltip">
                                Gender can not be empty.
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label asp-for="Donation.Phone" class="col-form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Donation.Phone" id="phone" class="form-control record phonemask" required>
                            <div class="invalid-tooltip">
                                Gender can not be empty.
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 row">
                        <label asp-for="Donation.DonationAmount" class="col-form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="@Model.DonationAmountStr" id="donationAmt" class="form-control record" required pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency">
                            <div class="invalid-tooltip">
                                Gender can not be empty.
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <label class="control-label col-sm-4">Check for Recurring</label>
                        <div class="col-sm-8">
                            <div class="chek-form">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="recurringCheckbox" id="recurringCheckbox" asp-for="Donation.Recurring">
                                    <label class="form-check-label label_info" for="recurringCheckbox"><span>Is this a recurring donation?</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 row">
                        <div class="form-group show_hide">
                            <div class="col-sm-offset-3 col-sm-10">
                                @*<form method="POST">*@

                                <script src="https://checkout.stripe.com/checkout.js"
                                        class="stripe-button"
                                        data-key="@Model.PublishableKey"
                                        data-amount="Donation.DonationAmount"
                                        data-name="Nourishing Hands Inc."
                                        data-description="Donation"
                                        data-image="@Url.Content("~/assets/images/stripe.png")"
                                        data-label="Next >>"
                                        data-currency="usd">
                                </script>
                                @*</form>*@
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="medium_divider"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.inputmask.js" charset="utf-8"></script>
<script>
    $(".phonemask").inputmask("1(999) 999-9999", {
        inputFormat: "1(999) 999-9999",
        outputFormat: "1(999) 999-9999",
        inputEventOnly: true
    });
    $("input[data-type='currency']").on({
        keyup: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), "blur");
        }
    });

    $(document).ready(function () {

    });

    // Bind keyup event on the input
    $(".record").keyup(function () {
        // If value is not empty
        if ($(this).val() === '') {
            // Hide the element
            $('.show_hide').hide();
        } else {
            if ($('#firstName').val() !== '' && $('#email').val() !== '' && $('#lastName').val() !== '' && $('#donationAmt').val() !== '') {
                $('.show_hide').show();
            }
        }
    }).keyup();



    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }


    function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;

        // initial caret position
        var caret_pos = input.prop("selectionStart");

        // check for decimal
        if (input_val.indexOf(".") >= 0) {

            // get position of first decimal
            // this prevents multiple decimals from
            // being entered
            var decimal_pos = input_val.indexOf(".");

            // split number by decimal point
            var left_side = input_val.substring(0, decimal_pos);
            var right_side = input_val.substring(decimal_pos);

            // add commas to left side of number
            left_side = formatNumber(left_side);

            // validate right side
            right_side = formatNumber(right_side);

            // On blur make sure 2 numbers after decimal
            if (blur === "blur") {
                right_side += "00";
            }

            // Limit decimal to only 2 digits
            right_side = right_side.substring(0, 2);

            // join number by .
            input_val = "$" + left_side + "." + right_side;

        } else {
            // no decimal entered
            // add commas to number
            // remove all non-digits
            input_val = formatNumber(input_val);
            input_val = "$" + input_val;

            // final formatting
            if (blur === "blur") {
                input_val += ".00";
            }
        }

        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);


    }

</script>


