@page
@model NourishingHands.Pages.GalleryModel
@{
    Layout = "_NhLayout";
}


    <!-- START SECTION GALLERY -->
    <div class="section pb_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <ul class="grid_container gutter_medium grid_col3 image_gallery">
                        <li class="grid-sizer"></li>
                        <li class="grid_item brands adv">
                            <div class="image_gallery_item">
                                <a href="assets/images/resumeDay3.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/resumeDay3small.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item brands design">
                            <div class="image_gallery_item">
                                <a href="assets/images/resumeDay12.JPG">
                                    <div class="gallery_img">
                                        <img src="assets/images/resumeDay12small.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item brands web">
                            <div class="image_gallery_item">
                                <a href="assets/images/resumeDay20.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/resumeDaySmall20.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item design">
                            <div class="image_gallery_item">
                                <a href="assets/images/gallery_item4.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/gallery_small_item4.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item brands adv">
                            <div class="image_gallery_item">
                                <a href="assets/images/gallery_item5.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/gallery_small_item5.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item design adv">
                            <div class="image_gallery_item">
                                <a href="assets/images/gallery_item6.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/gallery_small_item6.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item design adv">
                            <div class="image_gallery_item">
                                <a href="assets/images/gallery_item7.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/gallery_small_item7.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item design adv">
                            <div class="image_gallery_item">
                                <a href="assets/images/gallery_item8.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/gallery_small_item8.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item design adv">
                            <div class="image_gallery_item">
                                <a href="assets/images/gallery_item9.jpg">
                                    <div class="gallery_img">
                                        <img src="assets/images/gallery_small_item9.jpg" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION GALLERY -->
   


