@page
@model IndexModel
@{
    Layout = "_NhLayout";
}


    <!-- START SECTION BANNER -->
    <div class="banner_section staggered-animation-wrap">
        <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow carousel_style2" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active background_bg overlay_bg_60" data-img-src="assets/images/NourishGirls.jpeg">
                    <div class="banner_slide_content">
                        <div class="container">
                            <!-- STRART CONTAINER -->
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                    <div class="banner_content text_white">
                                        <h2 class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.2s">Welcome to Nourishing Hands</h2>
                                        <p class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                            Nourishing Hands Inc., is a teen mentoring agency serving communities in South DeKalb County. Our school based model serves teens in zip codes 30072,30083,30021, 30088 and 30079 through partnerships with local high schools.
                                        </p>
                                        <a class="btn btn-default staggered-animation" asp-page="/ComingSoon" data-animation="fadeInUp" data-animation-delay="0.6s" style="width:160px"> Donate </a>
                                        <a class="btn btn-white staggered-animation" data-animation="fadeInUp" data-toggle="modal" data-target="#infoModal1" data-animation-delay="0.6s" style="width:160px">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTAINER-->
                    </div>
                </div>
                <div class="carousel-item background_bg overlay_bg_60" data-img-src="assets/images/KidsHoldMouth.jpg">
                    <div class="banner_slide_content">
                        <div class="container">
                            <!-- STRART CONTAINER -->
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                    <div class="banner_content text_white">
                                        <h2 class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.2s">Teenage years are crucial</h2>
                                        <p class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.4s">Our program serves teens through four initiatives <br /> Wellness <span style="font-weight:900">|</span> Education <span>|</span> Professional-Entrepreneurship | Financial Literacy</p>
                                        <a class="btn btn-default staggered-animation" asp-page="/ComingSoon" data-animation="fadeInUp" data-animation-delay="0.6s" style="width:160px"> Donate </a>
                                        <a class="btn btn-white staggered-animation" asp-page="/ComingSoon" data-animation="fadeInUp" data-animation-delay="0.6s" style="width:160px">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTAINER-->
                    </div>
                </div>
                <div class="carousel-item background_bg overlay_bg_60" data-img-src="assets/images/CurlyHairBoy.jpg">
                    <div class="banner_slide_content">
                        <div class="container">
                            <!-- STRART CONTAINER -->
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                    <div class="banner_content text_white">
                                        <h2 class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.2s">Become a DREAM Agent</h2>
                                        <p class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.4s">Through partnership with strong mentors we are building stronger individuals, communities and a stronger future</p>
                                        <a class="btn btn-default staggered-animation" asp-page="/ComingSoon" data-animation="fadeInUp" data-animation-delay="0.6s" style="width:160px">Donate</a>
                                        <a class="btn btn-white staggered-animation" asp-page="/ComingSoon" data-animation="fadeInUp" data-animation-delay="0.6s" style="width:160px">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTAINER-->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i class="ion-chevron-left"></i></a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i class="ion-chevron-right"></i></a>
        </div>
    </div>
    <!-- END SECTION BANNER -->
    <!-- START SECTION ABOUT -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="about_img">
                        <img src="assets/images/AboutUs.jpg" alt="about_img2" />
                    </div>
                </div>
                <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="about_section pl-lg-3">
                        <div class="heading_s1">
                            <span class="sub_heading">Our Product</span>
                            <h5>Our 8 month mentoring program runs from September to May</h5>
                        </div>
                        <p>Our model allows each participant access to four expert mentors throughout the year. We serve through four initiatives (Wellness, Education, Employment, and Financial Literacy), each running for eight weeks, guided by a curriculum that ensures our services are relevant and life changing for our participants. For the larger DeKalb community, we also offer seminars and workshops that are facilitated by professionals in their field of expertise.</p>
                        <a class="btn btn-dark" asp-page="/ComingSoon">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal1" tabindex="-1" role="dialog" aria-labelledby="infoModal1CenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#FEBC34">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="height: 300px; overflow-y: auto;">
                    <div class="card-body">
                        <h4 class="card-title">Cynthia Logan</h4>
                        <h6 class="card-title">Executive Director, M.A. Ed</h6>
                        <p>Nourishing Hands Inc., a nonprofit organization which exists to reduce the negative effects of poverty and inequality for African American and immigrant teens (ages 15-20). Our school-based model partners with high schools and connects teens from marginalized communities with professional and positive community members who share our organization’s vision. We serve DeKalb County zip codes 30083, 30072, 30021, 30088, and 30079. Compared to neighboring zip codes in a twenty-mile radius, the economic disparity is alarming and demands urgent intervention. NHI responds to this need through our mentoring program, which will help bridge opportunity gaps. </p>
                        <p>While the United States is undoubtedly the wealthiest nation on earth and a land of unparalleled opportunity for its people, the unfortunate truth is that one’s zip code is still determined by income, race and ethnicity. Data and statistics show that a zip code determines whether one has access to quality and affordable housing, jobs, healthcare, good schools, grocery stores/supermarkets, transportation and other basic necessities. Children in high-income zip codes tend to have access to better housing and schools, among other basic necessities, which in turn exposes them to more resources. They tend to perform much better academically and are more likely to graduate high school and attend college than their counterparts from low-income zip codes. </p>
                        <p>
                            To mitigate this disparity, NHI’s research focuses on four areas: race, income, education, and housing. Based on our research, NHI is teaming up with partners to provide mentoring services to teens and their parents residing in zip codes 30083, 30072, 30021, 30088, and 30079.
                            South DeKalb’s population is more than 70% black-identifying, with a median household income of $30,500, and median property/home value of  $151,000. Less than 30% of the population holds an advanced degree. Meanwhile black-identifying  people account for less than 20% of neighboring zip codes’ populations, with a median household income of $59,908, and a median property value of $263,259. More than 40% of this neighboring population holds an advanced degree.
                        </p>
                        <p>Our goal is to create a strong, accountable program with trusting relationships between our participants and their mentors, which will foster experiences, growth, and opportunities. In order to provide an impactful program for teens who need extra support, we rely on our community partners to come together in support of our mission.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT -->
    <!-- START SECTION APPLY COURSE-->
    <div class="section background_bg bg_blue" data-img-src="assets/images/pattern_bg1.png">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 heading_apply_form heading_light">
                        <h4>Donors &nbsp;|&nbsp; Support the DREAM</h4>
                    </div>
                    <p class="text-white leads">African American and immigrant teens deserve to have supportive adults in their lives. We appreciate you stepping up to the needs of our community by regularly donating to Nourishing Hands Inc. DREAM Builders Teen Mentoring Program</p>
                    <a asp-page="/ComingSoon" class="btn btn-tran-light" style="width:160px">Donate</a>
                    <a asp-page="/ComingSoon" class="btn btn-tran-border" style="width:160px">Read More</a>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="bg-white apply_form radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                        <div class="heading_s1">
                            <h3>Contact Us</h3>
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <input asp-for="Input.FullName" required="required" placeholder="Name " class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Email" required="required" placeholder=" Email " class="form-control" type="email">
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Phone" required="required" placeholder="Phone Number " class="form-control" type="tel">
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Input.Message" required="required" placeholder="Enter Message " class="form-control" rows="3" id="comment"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" title="Submit Your Message!" class="btn btn-default btn-block" value="Submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION APPLY COURSE -->
    <!-- START SECTION COURSES-->
    <div class="section pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <h4>Nourishing Hands Teen Program</h4>
                    </div>
                    <p class="text-center leads">Our program serves teens through four initiatives</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <div class="courses_img">
                            <a href="#"><img src="assets/images/wellnessFruit.jpg" alt="course_img1" /></a>
                        </div>
                        <div class="courses_info">
                            <h5 class="courses_title"><a href="#">Wellness</a></h5>
                            <p>Data from the CDC shows that youth, especially teens engage in multiple behaviors that pose dangers to their health. A few of the harmful behaviors include: marijuana and tobacco usage, prescription opioids, alcohol, e-cigarettes, other illegal substance, physical inactivity, unbalanced diet, and insufficient sleep. In most cases multiple or several of these harmful behaviors coexist, and compounds the pain and anxiety teens experience. Our program helps participants set goals to lead a healthy lifestyle</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                        <div class="courses_img">
                            <a href="#"><img src="assets/images/graduation.jpg" alt="course_img2" /></a>
                        </div>
                        <div class="courses_info">
                            <h5 class="courses_title"><a href="#">Education</a></h5>
                            <p>There is huge disparity in college preparation and admission for African-America and immigrant teens from low-income who are first-generation college students. This problem has many factors to consider when measuring it, including SAT scores, Advanced Placement course taking and exam passage, enrollment in rigorous mathematics and science courses, high school graduation rates, and high school exit exams (Camara, 2013; Musoba, 2011). Our College Prep initiative seeks to change the data trend by equipping teens to be successful through the college admission process for enrollment to Historically Black Colleges and Universities.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                        <div class="courses_img">
                            <a href="#"><img src="assets/images/entrepreneur.jpg" alt="course_img3" /></a>
                        </div>
                        <div class="courses_info">
                            <h5 class="courses_title"><a href="#">Professional-Entrepreneur</a></h5>
                            <p>Since the late 1960s, researchers have noted large differences in employment and unemployment rates among black workers, Hispanic workers, and white workers, especially for younger workers. Early work experiences (part-time and in the summer) can provide valuable opportunities for teens to learn new skills, gain experience, expand their networks, and develop positive relationships with adults. With numerous industry changes, the overall employment prospects for youth has changed and so has our collective effort to ensure that disadvantaged teens have a shot at the workforce of the twenty-first century with advance skill sets for the competition.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <div class="courses_img">
                            <a href="#"><img src="assets/images/money.jpg" alt="course_img4" /></a>
                        </div>
                        <div class="courses_info">
                            <h5 class="courses_title"><a href="#">Financial Literacy</a></h5>
                            <p>Financial literacy has been defined as “the ability to make effective decisions regarding the use and management of money” (Schagen & Lines, 1996, p. 91). Research suggests that with proper education African Americans are more likely to make more informed financial choices for individuals and their communities. Our program provides education on basic money management (budgeting, saving, and investing) to equip teens with skills necessary for successfully day to day financial transactions.<br /><br /></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END SECTION COURSES-->
    <!-- START SECTION COUNTER -->
    <div class="section background_bg counter_wrap bg_blue fixed_bg" data-img-src="assets/images/pattern_bg1.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-book"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="12" data-speed="1500" data-refresh-interval="5"></span>+</h3>
                        <p>Programs</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-student"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="150" data-speed="1500" data-refresh-interval="5"></span>+</h3>
                        <p>Students</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-teacher"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="70" data-speed="1500" data-refresh-interval="5"></span>+</h3>
                        <p>Qualified Mentors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-trophy"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="80" data-speed="1500" data-refresh-interval="5"></span>+</h3>
                        <p>Awards win</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION COUNTER -->
    <!-- START SECTION EVENTS-->
    <div class="section pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <h2>Upcoming events</h2>
                    </div>
                    <p class="text-center leads">We love connecting with our communities in DeKalb, Atlanta and surrounding residents in the areas. Please see upcoming events below.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="event_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <div class="event_img">
                            <img src="assets/images/SAT.jpg" width="360" height="240" alt="event_img1" style="opacity: 0.1;">
                            <div class="event_dt radius_all_5">
                                <h5><span>July, 30</span> 2020 </h5>
                            </div>
                        </div>
                        <div class="event_info">
                            <h5 class="event_title"><a href="#">SAT Workshop for Juniors</a></h5>
                            <ul class="event_meta">
                                <li><i class="ti-time"></i><span>09:00 AM</span></li>
                                <li><i class="ti-location-pin"></i><span>Atlanta, Dekalb County</span></li>
                            </ul>
                            <div class="form-group">
                                <a class="btn btn-default btn-block btn-sm" style="color:white" value="Submit">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="event_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                        <div class="event_img">
                            <img src="~/assets/images/UnivAccep.jpeg" width="360" height="240" style="opacity: 0.1;" alt="event_img2">
                            <div class="event_dt radius_all_5">
                                <h5><span>Oct., 22</span> 2020 </h5>
                            </div>
                        </div>
                        <div class="event_info">
                            <h5 class="event_title"><a href="#">College application discussion</a></h5>
                            <ul class="event_meta">
                                <li><i class="ti-time"></i><span>09:00 AM</span></li>
                                <li><i class="ti-location-pin"></i><span>Atlanta, Dekalb County</span></li>
                            </ul>
                            <div class="form-group">
                                <a class="btn btn-default btn-block btn-sm" style="color:white" value="Submit">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="event_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                        <div class="event_img">
                            <img src="~/assets/images/Contruction.png" width="360" height="240" style="opacity: 0.1;" alt="event_img3">
                            <div class="event_dt radius_all_5">
                                <h5><span>Dec., 16</span> 2020 </h5>
                            </div>
                        </div>
                        <div class="event_info">
                            <h5 class="event_title"><a href="#">Non traditional career</a></h5>
                            <ul class="event_meta">
                                <li><i class="ti-time"></i><span>09:00 AM</span></li>
                                <li><i class="ti-location-pin"></i><span>Atlanta, Dekalb County</span></li>
                            </ul>
                            <div class="form-group">
                                <a class="btn btn-default btn-block btn-sm" style="color:white" value="Submit">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="courses_title"><a href="#">View all Events</a></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION EVENTS-->
    <!-- START SECTION VIDEO -->
    <div class="section background_bg overlay_bg_70 fixed_bg" data-img-src="assets/images/threeLookOnLaptop.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <a href="assets/images/IMG_9809.mp4" class="video_popup">
                            <span class="ripple"><i class="ion-play"></i></span>
                        </a>
                        <div class="video_text animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <span class="text_default">Watch Our Latest Video</span>
                            <h2>We host several opportunities throughout the year. </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION VIDEO -->
  
    
   
