@page
@model NourishingHands.Pages.JoinBoardModel
@{
    Layout = "_NhLayout";
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="assets/images/Board.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Join our board</h1>
                </div>              
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION ABOUT -->
<div class="section small_pb">
    <div class="container">
        <div class="row align-items-center">
         
            <div class="col-lg-12 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="about_section pl-lg-3">
                    <div class="heading_s1">
                        <h5 class="sub_heading">Becoming a board member</h5>                      
                    </div>
                    <div>
                        <p>
                            Do you want to pay it forward? Do you have a passion for serving teens and want to join the Board of Directors of a nonprofit that shares your passion? NHI leaders guide the overall direction and financial management of the organization, plan fundraising events and work to broaden our relationships with other organizations, governing entities and the community.
                        </p>
                        <p>
                            Previous board experience is not required. A passion for supporting the future of teens is the only requirement, but additional skills that are especially welcome include nonprofit management, community leadership, and mentors for teens from low-income and those just needing a positive role model.
                            All professionals are welcomed, especially young professionals between the ages of 18-35.
                            Board Members serve for a period of two (2) years and can expect to participate 1-2 hours a month.
                            Responsibilities for the Executive Board of Directors:

                        </p>
                        <p>
                            <dl>
                                <dt> 1. Act in the spirit of NHI’s vision, mission, and values</dt>
                                <dd style="text-indent:2%"> a. Set goals and long-term organizational strategies</dd>
                                <dd style="text-indent:2%"> b. Participate in succession planning by recruiting new board members, providing for a Board that remains healthy and regenerative.</dd>
                                <dt> 3. Contribute to board work:</dt>
                                <dd style="text-indent:2%"> a. Prepare for each Board meeting.</dd>
                                <dd style="text-indent:2%"> b. Board members must attend at least three out of four annual meetings in person, or by telephone.</dd>
                                <dd style="text-indent:2%"> c. Board meetings are held on the 2nd Tuesdays in February, January, April, and July.</dd>
                                <dt> 4. Disclose any potential or actual conflict of interest.</dt>
                                <dt> 5. Contribute financially to the organization.</dt>
                                <dd style="text-indent:2%"> a. Provide a minimum of $1,000 donation per year (personally or through fundraising efforts).  </dd>
                                <dd style="text-indent:2%"> b. Thoughtfully leverage personal and/or professional connections to further the Association’s fundraising goals</dd>
                            </dl>
                            @*<ol>
                                <li>Act in the spirit of NHI’s vision, mission, and values</li>
                                <li>Together with other board members, steward strong governance:</li>
                                <li>Milk</li>
                            </ol>*@
                        </p>
                        <p>
                            Contact Cynthia Logan at clogan@nourishinghandsinc.org for more information. Thank you for your willingness to serve Nourishing Hands Inc.
                        </p>
                    </div>
                    
                    @*<a class="btn btn-dark" data-toggle="modal" data-target="#infoModal1">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />s


