@page
@model NourishingHands.Pages.OurStoryModel
@{
    Layout = "_NhLayout";
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="assets/images/MentorLadies.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Our Story</h1>
                </div>              
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION ABOUT -->
<div class="section small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="about_img"> <img src="assets/images/CynthiaHS.jpg" alt="about_img2" /> </div>
            </div>
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="about_section pl-lg-3">
                    <div class="heading_s1">
                        <h5 class="sub_heading">Our Story</h5>                      
                    </div>
                    <div>
                        <p style="font-weight: bold">Cynthia Logan, M. Ed.</p>
                        <p>
                            Cynthia is an immigrant from Liberia. Her family migrated to the United States after catastrophic civil war ensued which nearly annihilated her entire family. Growing up in America as an at-risk teen, she remembers the feelings of despair and hopelessness. Those experiences quickly set the trajectory of her future in a downward direction. Being a young unprepared wife and mother further complicated her circumstances and deemed any hope for success.
                        </p>
                        <p>
                            Through years of hard work and perseverance, she accomplished her goal of becoming an educator. She served elementary students from low-income communities, because she shared their experiences. After years of teaching in the United States and abroad, she was led to make a larger impacted by exiting the confinements of the school walls. Her ability to connect with people seamlessly, especially youth, has opened doors for countless positive interactions with her students and their families.  As a mentor, she helped shaped the lives of many of her students. She believes that she has located her life’s purpose, which is to advocate and be a voice for people who cannot speak for themselves.
                        </p>
                        <p>
                            Cynthia is a wife, a mother, best-selling author, speaker, and an accomplished educator. She enjoys spending time with her family and traveling the world.
                        </p>
                    </div>
                    
                    @*<a class="btn btn-dark" data-toggle="modal" data-target="#infoModal1">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />s


