@page
@model NourishingHands.Pages.ParticipantHighlightModel
@{
    Layout = "_NhLayout";
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="assets/images/MentorLadies.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Participant Highlight</h1>
                </div>              
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION ABOUT -->
<div class="section small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="about_img"> <img src="assets/images/pphl.jpg" alt="about_img2" /> </div>
            </div>
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="about_section pl-lg-3">
                    <div class="heading_s1">
                        <h5 class="sub_heading">Participant Highlight</h5>                      
                    </div>
                    <div>
                        <p>
                            Hello! My name is Deanna Johnson and I am currently a senior at Dutchtown High School. Although I am unsure of what college I will be attending in the fall, I have been accepted to Spelman College , Howard University, North Carolina A&T, Georgia State University, Oglethorpe University, Agnes Scott College, Mercer University, Kennesaw State University, and counting. While in college I aspire to travel while pursing a degree in Biology to become a Pediatric Pharmacist. Post graduation, I plan to travel around to help provide people who are in need of medication.
                        </p>
                        
                    </div>
                    
                    @*<a class="btn btn-dark" data-toggle="modal" data-target="#infoModal1">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />s


