@page
@model NourishingHands.Pages.Parent.HomeModel
@{
    Layout = "_NhLayout";
}


<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="cart_totals">
                    <div class="heading_s1 mb-3">
                        <h6>Thank you! Your questionniare is complete.</h6>
                    </div>
                    <br />
                    <p> Mentee can now finish their application</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider"></div>
            </div>
        </div>
    </div>
</div>