@page
@model NourishingHands.Pages.Mentor.EducationModel
@{
    Layout = "_NhLayout";
}

<!-- START SECTION SHOP -->
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-10">
                <div class="heading_s1">
                    <h4>Education Information</h4>
                </div>
                <form method="post" class="row">
                    <div class="form-group col-md-12">
                        <input asp-for="EducationHistory.HighSchool" required class="form-control" placeholder="High School *">
                    </div>
                    <div class="form-group col-md-12">
                        <input asp-for="EducationHistory.College" required class="form-control" placeholder="College *">
                    </div>
                    <div class="form-group col-md-12">
                        <input asp-for="EducationHistory.OtherEducation" class="form-control" placeholder="OtherEducation *">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-default"> Save and continue </button>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
