@page
@model NourishingHands.Pages.Mentor.EmploymentModel
@{
    Layout = "_NhLayout";
}

<!-- START SECTION SHOP -->
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-10">
                <div class="heading_s1">
                    <h4>Employment Information</h4>
                </div>
                <form method="post" class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.Employer" required class="form-control" placeholder="Employer *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.JobTitle" required class="form-control" placeholder="Job Title *">
                    </div>
                    <div class="form-group col-md-12">
                        <input asp-for="EmploymentHistory.JobDescription" class="form-control" placeholder="Job Description *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.StartDate" class="form-control" placeholder="Star tDate *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.EndDate" class="form-control" placeholder="End Date *">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-default"> Save and continue </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
