@page
@model ConfirmEmailModel
@{
    Layout = "_NhLayout";
}


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="single_faq">
                    <div>
                        <h5>
                            Thanks for confirming your email. Click  <a class="nav_btn" asp-area="Identity" asp-page="/Account/Login" style="color:#5ebb47; text-decoration: underline" > Login</a> to complete your application.
                        </h5>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider clearfix"></div>

            </div>
        </div>
    </div>
</div>